---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ .Environment.Name }}
  namespace: argocd
spec:
  description: {{ .Environment.Name }} project
  sourceRepos:
  - '*'
  sourceNamespaces:
  - '*'
  destinations:
  - name: {{ .Environment.Name }}
    namespace: '*'
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
